h1 {
	color: #800000;
	text-align: center;
	font-size: 50px;
}

h4 {
	color: #800000;
	font-size: 20px;
}

.body {
	font-family: 'Open Sans', sans-serif;
	margin-left: 6%;
}

#flowchart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}